/* GLOBAL CONFIGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--font-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --accent-color: #3bc9db;
  --bg-color: #343a40;
  --font-color: #fff;
}

.wrapper {
  background-color: var(--bg-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: auto 6.8rem;
}

.section-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  column-gap: 2.4rem;
}

.subheading {
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 1.2rem;
}

.section-heading {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.link-basic:link,
.link-basic:visited {
  text-decoration: none;
  color: var(--font-color);
}

.link-basic:hover,
.link-basic:active {
  text-decoration: none;
  color: var(--font-color);
}

/* HEADER */

.page-header {
  margin-bottom: 4.8rem;
}

.header-nav {
  padding: 1.2rem;
}

.section-list {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 4.8rem;
}

.section-link {
  font-size: 2rem;
  display: inline-block;
}

.section-link:link,
.section-link:visited {
  text-decoration: none;
  color: var(--font-color);
}

.section-link:hover,
.section-link:after {
  color: var(--font-color);
}

/* ABOUT ME: INTRO */

.section-about-me {
  margin-bottom: 6.4rem;
}

.about-me-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.4rem;
}

.my-image {
  border-radius: 50%;
  border: solid 4px var(--accent-color);
  margin-bottom: 2rem;
}

.my-name {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.my-job {
  font-size: 4.8rem;
}

.text-highlight {
  color: var(--accent-color);
}

/* ABOUT ME: CONTACTS AND SUMMARY */
.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
}

.contacts-type {
  color: var(--accent-color);
}

.about-me {
  font-size: 2.4rem;
  line-height: 1.4;
}

/* SKILLS  */

.section-skills {
  margin-bottom: 6.4rem;
}

.skills-list-container {
  background-color: #237983;
  padding: 3.2rem 6.4rem;
  border-radius: 2rem;
  transition: all 0.4s;
  margin-bottom: 6.4rem;
}

.skills-list-container:hover {
  background-color: #298d99;
}

.skills-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.skills-item {
  font-size: 2.4rem;
}

/* SKILLS: CODE FRAGMENT  */

.code-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

.skills-code {
  display: flex;
  justify-content: center;
}

.code-block {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #237983;
  padding: 2.4rem;
  border-radius: 2rem;
}
/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
